@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .preserve-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .perspective-1000 {
    perspective: 1000px;
  }
  
  .translate-z-\[30px\] {
    transform: translateZ(30px);
  }
  
  .translate-z-\[200px\] {
    transform: translateZ(200px);
  }
  
  .-translate-z-\[4px\] {
    transform: translateZ(-4px);
  }
  
  .-translate-z-\[14px\] {
    transform: translateZ(-14px);
  }
  
  .rotate-y-\[-90deg\] {
    transform: rotateY(-90deg);
  }
  
  .rotate-y-\[-140deg\] {
    transform: rotateY(-140deg);
  }
  
  .rotate-y-\[-10deg\] {
    transform: rotateY(-10deg);
  }
  
  .rotate-y-\[-5deg\] {
    transform: rotateY(-5deg);
  }
  
  .rotate-y-\[180deg\] {
    transform: rotateY(180deg);
  }
}

